<!-- jQuery dependency -->
<script type="text/javascript" src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>

<!-- Global settings for the examples -->
<script type="text/javascript">
  var SpritzSettings = {
    clientId: "77cf1453ef585ab23",
    redirectUri: "http://localhost:3000/spritz_login_success",
    
  };
</script>


<p><div data-role="spritzer" data-url="http://espn.go.com/nba/story/_/id/10949807/kevin-love-tells-minnesota-timberwolves-sign-extension-likes-chicago-bulls-golden-state-warriors"></div></p>
