<h1>Listing pocket_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pocket_users.each do |pocket_user| %>
      <tr>
        <td><%= link_to 'Show', pocket_user %></td>
        <td><%= link_to 'Edit', edit_pocket_user_path(pocket_user) %></td>
        <td><%= link_to 'Destroy', pocket_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pocket user', new_pocket_user_path %>
