Hello <%= @username %>!
<br />
<hr />
<br />
<table>
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>Excerpt</td>
  <tr>
  <% @articles.each do |article| %>
    <tr>
      <td><a href='<%= "queue/" + article[0].to_s %>'><%= article[0].to_s %></a></td>
      <td><%= article[1]['resolved_title'] %></td>
      <td><%= article[1]['excerpt'] %></td>
    <tr>
  <% end %>
</table>
<br />
<hr />
<br />
<%= 
@articles.pretty_inspect
%>