<!-- jQuery dependency -->
<script type="text/javascript" src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>

<!-- Global settings for the examples -->
<script type="text/javascript">
  var SpritzSettings = {
    clientId: "77cf1453ef585ab23",
    redirectUri: "http://localhost:3000/spritz_login_success",
    
  };
</script>


<div style='width: 100%;'><div style='margin: 0 auto; text-align: center;' data-role="spritzer" data-url="<%= @article_url %>"></div></div>

<iframe src='<%= @article_url %>' name='raw_article' style='width: 100%; height: 500px;'></iframe>